body {
    background:"#02AAB0";
    background: -webkit-linear-gradient(left,#008080,#008080);
    background: -moz-linear-gradient(left,#008080,#008080);
    background: -o-linear-gradient(left,#008080,#008080);
    background: linear-gradient(to right,#008080,#008080);


}